data/identifyThreshold.txt filter=lfs diff=lfs merge=lfs -text
data/gtexData.parquet filter=lfs diff=lfs merge=lfs -text
data/mouseParalogs.txt filter=lfs diff=lfs merge=lfs -text
data/humanParalogs.txt filter=lfs diff=lfs merge=lfs -text
data/humanExons.txt filter=lfs diff=lfs merge=lfs -text
data/mouseExons.txt filter=lfs diff=lfs merge=lfs -text
data/humanParalogMasterTable.csv filter=lfs diff=lfs merge=lfs -text
data/humanParalogMasterTable.parquet filter=lfs diff=lfs merge=lfs -text
data/mouseParalogMasterTable.csv filter=lfs diff=lfs merge=lfs -text
data/mouseParalogMasterTable.parquet filter=lfs diff=lfs merge=lfs -text
